@import './Slider';
@import './Range';
@import './TimeMarker';

.player-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
}

.time-marker-play-button {
  width: 100%;
  height: 96%;
  top: 0;
  left: 0;
  margin: 0;
  border-radius: 0;
  background: none;
  position: absolute;

  &:hover, &:focus {
    background: none;
  }
}

.time-marker-button-content-wrapper {
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;

  .material-icons {
    font-size: 38px;
  }
}


.time-marker-button-icon {
  background: white;
  text-transform: uppercase;
  height: 40px;
  width: 40px;
  border-radius: 40px;
  padding: 0;
  transition: all 300ms ease-in-out;
  display: block;

  &:hover,
  &:focus {
    background-color: rgb(0, 132, 156)
  }

  &.pause-button {
    display: none;
  }
}

.react-player {
  background-color: black;
  
  &:before {
    position: absolute;
    content: '';
    pointer-events: none;
    opacity: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
  }
  &.stalled:before {
    transition: opacity 750ms ease-out;
    opacity: 1;
    background-color: rgba(0,0,0,0.5);
    background-image: url(https://storage.googleapis.com/vibbio/spinner.gif);
    background-size: 150px;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  video {
    max-height: 50vh;
    max-width: 100%;
    display: block;
  }
}
